<!-- <h4 [ngStyle]="{backgroundColor: student.sex == 'F' ? 'pink' : 'cyan'}"> 
    {{ student.name }} - {{ student.hobby }} 
</h4> -->
<span [ngClass]="{
    'female' : student.sex == 'F',
    'male' : student.sex == 'M',
    'underlined' : student.hobby == 'karate'}"
    (click)='onStudentClick()'
    class="clickable"> 
        {{ student.name }} - {{ student.hobby }} 
        <!-- <span *ngIf="student.isPro" style="background-color: yellow;"> Professionista </span>
        <span *ngIf="!student.isPro" style="background-color: yellow;"> Dilettante </span> -->
        <span *ngIf="student.isPro;else noPro" style="background-color: yellow;"> Professionista </span>
        <ng-template #noPro> <span style="background-color: yellow;"> Dilettante </span> </ng-template>
</span>
<button class="removeStudent" (click)="onDeleteStudent()"> Delete </button>