/* You can add global styles to this file, and also import other style files */
.clickable {
    cursor: pointer;
    user-select: none;
}

.student {
    margin: 5px 0;
    text-align: left;
    min-width: 350px;
}