/* You can add global styles to this file, and also import other style files */
.clickable {
    cursor: pointer;
    user-select: none;
}

.student {
    margin: 5px 0;
    text-align: left;
    min-width: 350px;
}

.addStudent {
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
}

.removeStudent {
    background-color: coral;
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
}

.addStudent:disabled {
    background-color: darkgray;
    color: black;
}